@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Raleway:wght@100;700&display=swap');

* {
    box-sizing: border-box;
}



body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, ul {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style: none;
    padding-left: 0;
}

img {
    display: block;
}